<!DOCTYPE html>
<html>

<head>
    <title>CloudOps Enterprise Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>CloudOps Enterprise Platform</h1>
        <p>Welcome to my Cloud Computing Internship Major Project.</p>

        <h2>Project Features</h2>

        <ul>
            <li>AWS EC2 Deployment</li>
            <li>Docker Containerization</li>
            <li>GitHub Actions CI/CD</li>
            <li>CloudWatch Monitoring</li>
            <li>IAM Security</li>
        </ul>
    </div>
</body>

</html>